p{color:black;
    text-align:justify;
}
.grupo1 {
    color: rgb(76, 173, 252);
    text-align:center;
    font: normal 200% Sans-Serif;
}

h1 {color: white;text-align: left;margin-top: 15px;}

input, .content {
    display: none;
    text-align: left;
    background: white;
    line-height: 25px;
    padding: 5px 25px;
    color: blue;
    font: normal 1em/150% Sans-Serif;
    margin:auto;
    max-width: 1000px;
    margin-top: 15px;
}

#home:checked ~ .home,
#informações:checked ~ .informações,
#atividades:checked ~ .atividades,
#dispute:checked ~ .dispute {display: block;}   

label {
    cursor: pointer;
    background: rgb(76, 173, 252);
    height: 25px;
    padding: 5px 10px;
    display: inline;
    text-align: left;
    color: black;
    font: normal 1em/140% Sans-Serif;
    margin-right: 10px;
    transition: background .25s linear;

}

a { color: inherit;
    text-decoration: none; } 

    a:hover{ color:rgb(168, 216, 255)}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: black;
    color: blue;
    padding: 30px 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    font-size: 3em;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(76, 173, 252);
    font-size: 1.1em;
}

nav ul li a:hover {
    color: rgb(76, 173, 252);
}

body {
    font-family: Arial, sans-serif;
    text-align:left;
    background-color: white;
    color: white;
    margin: 0;
    padding: 0;
}
.container-footer {
    display: flex;
    justify-content: space-around;
    background-color: #222;
    color: white;
    padding: 20px 0;
    margin-top: 15px;
}

.container-footer div {
    flex: 1;
    margin: 0 10px;
}
.titulo-footer {
    font-size: 1em;
    margin-bottom: 10px;
    word-spacing: 5px; 
    max-width: 350px;
}
.texto-informativo {
    font-size: 1em;
    word-spacing: 3px; 
}
.center ul, .right ul {
    list-style-type: none;
    padding: 0;
}
.center ul li, .right ul li {
    margin: 5px 0;
}
.center ul li a, .right ul li a {
    color: rgb(76, 173, 252);
    text-decoration: none;
    word-spacing: 2px;
}
.center ul li a:hover, .right ul li a:hover {
    text-decoration: underline;
}
.social-media {
    text-align: center;
    margin-top: 20px;
}
.social-media a {
    text-decoration: none;
    color: black;
    margin: 0 10px;
    font-size: 1.4em;
}
.social-media a:hover {
    color: rgb(76, 173, 252);
}
.footer {
    text-align: center;
    padding: 10px;
    background-color: #222;
    color: white;
}