<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato - Educação Digital</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: Arial, sans-serif;
            background-color: #777;
            padding: 20px;
        }

        header {
            background-color: black;
            color: rgb(76, 173, 252);
            padding: 30px;
            text-align: left;
            max-width: auto;
        }

        .container {
            max-width: 900px;
            margin: 0 auto;
            background-color: white;
            padding: 20px;
            box-shadow: rgb(76, 173, 252);
            border-radius: 5px;
        }

        h1 {
            text-align: center;
            color: rgb(76, 173, 252);
            margin-bottom: 20px;
        }

        form {
            display: flex;
            flex-direction: column;
        }

    a { color: inherit;
        text-decoration: none; } 
    a:hover{ color:rgb(168, 216, 255)}
    
        input, textarea {
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
            width: 100%;
        }

        textarea {
            height: 150px;
            resize: none;
        }

        button {
            padding: 15px;
            background-color:rgb(76, 173, 252);;
            color: white;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        button:hover {
            background-color: rgb(168, 216, 255);
        }

        .contact-info {
            margin-top: 30px;
            text-align: center;
        }

        .contact-info p {
            color: #555;
            margin: 5px 0;
        }

        footer {
            margin-top: 40px;
            text-align: center;
            color: black;
            padding: 20px 0;
        }

        .social-media a {
            margin: 0 10px;
            color: black;
            font-size: 1.4em;
        }

        .social-media a:hover {
            color: rgb(168, 216, 255);
        }
        #home,
    #cadastro{
        text-align: left;
        color: black;
    }
    label {
        font-size: 1em;
        display: inline-block;
        color: white;
        background-color: rgb(76, 173, 252);
        padding: 5px 10px;
        border-radius: 5px;
        text-decoration: none;
        transition: background 0.25s linear;
        margin-bottom: 5px;
        font-weight: bold;
        cursor: pointer;
        text-align: left;
        font: normal 1em/150% Sans-Serif;
        margin-right: 10px;
    }
    label:hover {
        background-color: rgb(168, 216, 255);
    }
    </style>
</head>
<body>

    <header>
        <div>
        <h1 id="h1">Fale Conosco - Cyberconsciência</h1>
       
        <html>
            <label><a href="/"><img src="https://upload.wikimedia.org/wikipedia/commons/e/e6/Home_icon_black.png" alt="Home" width="30" height="30" /></a></label>
        </html>
        </div>
    </header> 

<div class="container">
    <h1>Entre em Contato</h1>

    <form action="enviar_contato.php" method="POST">
        <p id="cadastro" for="nome">Nome:</p>
        <input type="text" id="nome" name="nome" required>

        <p id="cadastro" for="email">E-mail:</p>
        <input type="email" id="email" name="email" required>

        <p id="cadastro" for="mensagem">Mensagem:</p>
        <textarea id="mensagem" name="mensagem" required></textarea>

        <button type="submit">Enviar Mensagem</button>
    </form>

    <div class="contact-info">
        <p><strong>Telefone:</strong> (99) 9999-9999</p>
        <p><strong>E-mail:</strong> contato@Cyberconsciência.com.br</p>
        <p><strong>Endereço:</strong> Rua Exemplo, 123, Cidade Exemplo, Estado</p>
    </div>
</div>
</body>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
    </head>
<body>
<footer>
    <p>&copy; {{ano_atual}} Cyberconsciência. Todos os direitos reservados.</p>
    <div class="social-media">
        <a href="https://www.instagram.com/" target="_blank">Instagram</a>
        <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
        <a href="https://www.youtube.com/" target="_blank">YouTube</a>
        <a href="https://www.youtube.com/" class="fa fa-youtube"></a>
    </div>
</footer>

</body>
</html>