<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Filmes-Cyberconsciência</title>
  <link rel="stylesheet" href="styles.css">
</head>
<style>
/* Estilos Gerais */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: black; /* Preto com tom azulado */
  color: #c9d1d9; /* Azul claro */
}

.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Barra Superior */
.header {
  background: linear-gradient(90deg, black);
  padding: 20px;
  color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.header-content {
  text-align: center;
}

.header-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.genres {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.genre-button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 20px;
  background-color: #161b22;
  color: #c9d1d9;
  cursor: pointer;
  transition: all 0.3s ease;
}

.genre-button:hover {
  background-color: #007acc;
  color: white;
}

hr.new4 {
  border: 3px solid rgb(76, 173, 252);
}

/* Seções de Filmes */
.movies-section {
  padding: 20px;
}

.section-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.movies-row {
  display: flex;
  overflow-x: scroll;
  gap: 10px;
  scroll-behavior: smooth;
}

.movies-row::-webkit-scrollbar {
  height: 8px;
}

.movies-row::-webkit-scrollbar-thumb {
  background-color: #007acc;
  border-radius: 10px;
}

.movie-card {
  min-width: 250px;
  min-height: 100px;
  background-color: #161b22;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.movie-card:hover {
  transform: scale(1.1);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}

.movie-image {
  width: 250px;
  height: 100px;
  object-fit: cover;
  border-bottom: 2px solid #007acc;
}

.movie-title {
  font-size: 1rem;
  text-align: center;
  padding: 1px;
  color: #c9d1d9;
}

/* Rodapé */
.footer {
  background-color: #161b22;
  color: #8b949e;
  text-align: center;
  padding: 20px;
  margin-top: auto;
}
label {
            margin-top: 10px;
            font-size: 1em;
            display: inline-block;
            color: white;
            background-color: rgb(76, 173, 252);
            padding: 5px 10px;
            border-radius: 5px;
            text-decoration: none;
            transition: background 0.25s linear;
        }
        label:hover {
            background-color: rgb(168, 216, 255);
        }
        #texto{color:white;
            text-align: justify;
            max-width: 1300px;
            padding: 5px 50px;
        }
</style>
<body>
  <div class="page-container">
    <header class="header">
      <div class="header-content">
          <p>
              
              <img src="{{ url_for('static', filename='Captura_de_tela_2024-12-04_213309.png') }}" text-align="center"> 
              
          </p>
        <nav class="genres">
          <button class="genre-button">Ação</button>
          <button class="genre-button">Comédia</button>
          <button class="genre-button">Drama</button>
          <button class="genre-button">Documentário</button>
          <button class="genre-button">Animação</button>
          <button class="genre-button">Sci-Fi</button>
        </nav>
      </div>
      
      <html>
                  <label><a href="/"><img src="https://upload.wikimedia.org/wikipedia/commons/e/e6/Home_icon_black.png" alt="Home" width="30" height="30" /></a></label>
              </html>
              <hr class="new4">
    </header>

    <!-- Filmes -->
    <p id="texto">As sugestões a seguir se referem a filmes que nos oferecem uma importante reflexão sobre como devemos ser cautelosos com o uso das tecnologias e estabelecer limites claros em sua utilização. Esses filmes nos alertam para a necessidade de manter o controle sobre as máquinas e inovações tecnológicas, garantindo que elas permaneçam como ferramentas a serviço da humanidade, e não o contrário, evitando que nos tornemos dependentes ou subjugados por aquilo que criamos.</p>
    
  <main>
    <!-- Filmes já cadastros -->
    <section class="movies-section">
      <h2 class="section-title">Filmes Cadastrados</h2>
      <div class="movies-row">
        <div class="movie-card">
          <a href="/filmes/o_mundo_depois_de_nos" target="_self" style="text-decoration: none;">
            <img src="https://occ-0-8407-114.1.nflxso.net/dnm/api/v6/Qs00mKCpRvrkl3HZAN5KwEL1kpE/AAAABbGZmuZs9spZWBD7TJpOzrOl7aQVNVQD2hl3rftsvJfis5AybQxEE54n4oafi-3PO1BQYsXvVYJAh-nqXR3dqK9OElDsMI72I1iOGZBpFAa5EO9Q572NcHkfE9MyfR2xxfAMYg.jpg?r=fed" alt="Movie 1" class="movie-image">
            <h3 class="movie-title">O Mundo Depois de Nós</h3>
          </a>
        </div>
        <div class="movie-card">
          <a href="/filmes/nao_olhe_para_cima" target="_self" style="text-decoration: none;">
            <img src="https://occ-0-8407-116.1.nflxso.net/dnm/api/v6/E8vDc_W8CLv7-yMQu8KMEC7Rrr8/AAAABf2NpNhZsRSLwu3n0KhysCBpHNRlTQu86BLXuxSsleAMrjLNF6G0COGO2-s8YUywD64vHPiX5knGmTkMgF6A002TGi6eilpE329N.jpg?r=7c6" alt="Movie 2" class="movie-image">
            <h3 class="movie-title">Não Olhe Para Cima</h3>
          </a>
        </div>
        <div class="movie-card">
          <a href="/filmes/idiocracia" target="_self" style="text-decoration: none;">
            <img src="https://m.media-amazon.com/images/S/pv-target-images/6f8625fffc33945390fc4c64512e8d021f3d6c3337d8b230cf3869ffcc285685.jpg" alt="Movie 5" class="movie-image">
            <h3 class="movie-title">Idiocracia</h3>
          </a>
        </div>
        <div class="movie-card">
          <a href="/filmes/o_dilema_das_redes" target="_self" style="text-decoration: none;">
            <img src="https://www.cinegoiania.com.br/wp-content/uploads/2020/11/o-dilema-das-redes-capa.jpg" alt="Movie 6" class="movie-image">
            <h3 class="movie-title">O Dilema das Redes</h3>
          </a>
        </div>
      </div>
    </section>

    <!-- Filmes para adicionar -->
    <section class="movies-section">
      <h2 class="section-title">Em Breve</h2>
      <div class="movies-row">
        <div class="movie-card">
          <a href="#" target="_self" style="text-decoration: none;">
            <img src="https://occ-0-8407-114.1.nflxso.net/dnm/api/v6/Qs00mKCpRvrkl3HZAN5KwEL1kpE/AAAABbYZtDkUGcTuJv25S1GkY5OO7Z6QS2OxlC-4Xte6yQDuvKU8FiaSPpAT1jsZC0WclOjE_rWriBOlA0XMVztdgqAocqDC-DKwu4AzCgDIDvbDavnxgedCJEkt0LAI73o4KEQXEg.jpg?r=572" alt="Movie 3" class="movie-image">
            <h3 class="movie-title">A Família Mitchell</h3>
          </a>
        </div>
        <div class="movie-card">
          <a href="#" target="_self" style="text-decoration: none;">
            <img src="https://occ-0-8407-1723.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABZfdcwdSblP_F1bGTLhg5Jjruqamy-hbBjFIpWP8LIefP38dKhsxA6vU2YEKcXEntOOxU7PpqcJ9geAZlUoP8sLiazK7q6sw0tCE.jpg?r=023" alt="Movie 4" class="movie-image">
            <h3 class="movie-title">Rede de Ódio</h3>
          </a>
        </div>
        <div class="movie-card">
          <a href="#" target="_self" style="text-decoration: none;">
            <img src="https://www.planoaberto.com.br/wp-content/uploads/2018/03/jogadorn1-capa.jpg" alt="Movie 4" class="movie-image">
            <h3 class="movie-title">Jogador Nº1</h3>
          </a>
      </div>
    </section>
  </main>

  <footer class="footer">
    <p>&copy; {{ano_atual}} Cyberconsciência. Todos os direitos reservados.</p>
  </footer>
  </div>
</body>