<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Form with Background</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            body, h2, p {
                font-family: 'Raleway', sans-serif;
                margin: 0;
                padding: 0;
                overflow: hidden;
            }
            .background-image {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url('https://images.pexels.com/photos/8088495/pexels-photo-8088495.jpeg');
                background-size: cover;
                background-position: center;
                z-index: -1;
            }
            .form-container {
                width: 100%;
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .form-card {
                width: 100%;
                max-width: 600px; /* Aumentei a largura para acomodar a imagem */
                background: rgba(0, 0, 0, 0.8); /* Fundo semi-transparente */
                padding: 32px;
                color: white;
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
                border-radius: 8px;
            }
            .form-card h2 {
                margin-bottom: 16px;
            }
            .form-card input {
                margin-bottom: 16px;
            }
            .form-row {
                display: flex;
                align-items: center;
                gap: 16px; /* Espaço entre o campo de texto e a imagem */
            }
            .form-row img {
                max-width: 100px; /* Tamanho da imagem */
                border-radius: 8px;
            }
        </style>
    </head>
    <body>
        <div class="background-image"></div>
        <div class="form-container">    
            <div class="form-card w3-card">
                <h2>Conscientize-se da tecnologia</h2>
                <p>Preencha os campos abaixo:</p>
                <form>
                    <!-- Linha do nome com a imagem ao lado -->
                    <div class="form-row">
                        <div style="flex: 1;">
                            <label for="name">Nome</label>
                            <input id="name" class="w3-input w3-border" type="text" placeholder="Seu nome" required>
                        </div>
                        <img src="{{url_for('static', filename='Captura_de_tela_2025-03-12_224841-removebg-preview.png')}}" alt="Imagem de tecnologia">
                    </div>
                    
                    <label for="email">Email</label>
                    <input id="email" class="w3-input w3-border" type="email" placeholder="Seu email" required>
                    
                    <label for="password">Senha</label>
                    <input id="password" class="w3-input w3-border" type="password" placeholder="Sua senha" required>
                    
                    <a href="/perfil">
                        <button type="button" class="w3-button w3-blue w3-margin-top w3-block">Entrar</button>
                    </a>
                </form>
            </div>
        </div>
    </body>
</html>