<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyberconsciência-Idiocracia</title>
    <style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: black;
            color: white;
        }

        /* Banner */
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
        }

        /* Logo */
        .logo {
            position: absolute;
            top: 40px;
            left: 40px;
            width: 250px;
        }

        /* Conteúdo principal */
        .content {
            position: relative;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            max-width: 1200px;
            margin: 0 auto;
            margin-top:80px;
            
        }

        .text {
            max-width: 600px;
            margin-top: 180px; /* Espaço para posicionar a sinopse abaixo da logo */
        }

        .text h1 {
            font-size: 2.5em;
            color: #fff;
            margin-bottom: 20px;
        }

        .text p {
            font-size: 1.0Sem;
            line-height: 1.0;
        }

        .new {
            font-size: 1.0em;
            line-height: 1.0;
        }

        .characters {
            max-width: 400px;
            margin-top:60px;
        }

        .characters img {
            width: 50%;
            min-height: 500x;
            min-width: 300px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
        }

        .trailer {

            text-align: center;
            z-index: -1;
            position: absolute;
            width: 100%;
        }
        label {
            margin-top: 10px;
            font-size: 1em;
            display: inline-block;
            color: white;
            background-color: rgb(76, 173, 252);
            padding: 5px 10px;
            border-radius: 5px;
            text-decoration: none;
            transition: background 0.25s linear;
        }
        label:hover {
            background-color: rgb(168, 216, 255);
        }
        a { color: inherit; 
        text-decoration: none;} 
        a:hover { color: rgb(41, 146, 231); }

        /* Seção de sinopse e reflexão */
        .movie-extra {
            margin-top: 40px;
            padding: 20px;
            text-align: left;
        }   
    </style>
</head>
<body>
    <html>
        <label><a href="/"><img src="https://upload.wikimedia.org/wikipedia/commons/e/e6/Home_icon_black.png" alt="Home" width="30" height="30" /></a></label>

            <label><a href="/filmes" >Filmes </a></label>
                    <label>   <a href="https://youtu.be/6lai9QhBibk?si=s4DpOyCQPKb-pb-d">Trailer</a></label>
        
        <hr class="new4">
    <video loop autoplay muted class="trailer">
        <source src="{{url_for('static', filename='luke-wilson--dax-shepard---idiocracy-2006-trailer.mp4')}}" type="video/mp4" >
    </video>
    <!-- Conteúdo principal -->
    <div class="content">
        <img src="{{url_for('static', filename='Captura_de_tela_2025-01-26_092802-removebg-preview.png')}}" alt="Logo do Filme" class="logo">
        <div class="text">
            <h1>Idiocracia</h1>
            <h4>Idiocracia é uma comédia satírica dirigida por Mike Judge que se passa em um futuro distópico onde a inteligência média da população mundial diminuiu drasticamente devido à falta de incentivo ao pensamento crítico e à predominância de uma cultura de consumismo e entretenimento superficial. A história segue Joe Bauers (Luke Wilson), um homem comum e medíocre que participa de um experimento militar de hibernação e acorda 500 anos no futuro, onde a sociedade se tornou incrivelmente estúpida. Nesse novo mundo, Joe é agora o homem mais inteligente do planeta e tenta salvar a humanidade de sua própria idiotização.
            </h4>
            <strong>Gênero:</strong>Comédia, Ficção Científica, Satírico
           <p> <strong>Data de Lançamento:</strong>1º de setembro de 2006</p>
            <strong>Diretores:</strong>Mike Judge
        
        </div>
        <div class="characters">
            <img src="https://br.web.img3.acsta.net/medias/nmedia/18/94/36/36/20322772.jpg" alt="Pôster">
        </div>
    </div>
     <!-- Seção extra com sinopse e reflexão -->
     <section class="movie-extra">
        <h2>Proposta de Reflexão</h2>
        <p>O filme é uma sátira ao impacto do conformismo e da busca desenfreada por entretenimento vazio. Ele mostra como a alienação cultural e a falta de pensamento crítico podem levar a uma sociedade incapaz de resolver problemas básicos. O vício nas tecnologias, associado à busca de prazeres instantâneos, é uma metáfora clara para como o uso irresponsável de ferramentas digitais pode contribuir para a estagnação intelectual.</p>
        
      </section>
</body>
</html>

