<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educação Física e Mental</title>
    <style>
        p { text-align: justify; }
        body {
            background-color: black;
            color: white;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            padding-bottom: 3em; /* Espaçamento extra para o rodapé */
        }
        header {
            background-color: black;
            color: white;
            text-align: left;
            padding: 1em 0;
        }
        .container-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 20px;
        }
        footer {
            background-color: black;
            color: white;
            text-align: center;
            padding: 1em 0;
            position: relative;
            width: 100%;
            bottom: 0;
            clear: both;
        }
        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 1em;
        }
        h1 {
            color: rgb(76, 173, 252);
        }
        .genre {
            background-color: black;
            border: 1px solid #555;
            border-radius: 5px;
            margin: 1em 0;
            padding: 1em;
            display: flex;
            align-items: center;
        }
        .genre img {
            width: 200px;
            height: auto;
            border-radius: 5px;
            margin-right: 1em;
        }
        .genre h2 {
            color: rgb(76, 173, 252);
            margin: 0;
        }
        .genre p {
            margin: 0.5em 0 0;
        }
        #texto {
            color: white;
            text-align: justify;
            max-width: 1200px;
            padding: 5px 50px;
        }
        label {
            margin-top: 10px;
            font-size: 1em;
            display: inline-block;
            color: white;
            background-color: rgb(76, 173, 252);
            padding: 5px 10px;
            border-radius: 5px;
            text-decoration: none;
            transition: background 0.25s linear;
        }
        label:hover {
            background-color: rgb(168, 216, 255);
        }
        #h1 { text-align: center; }
        a { color: inherit; text-decoration: none; } 
        a:hover { color: rgb(41, 146, 231); }
        hr.new4 {
            border: 3px solid rgb(76, 173, 252);
        }
        header img {
         display: block;
        margin: 0 auto;
        }
    </style>
</head>
<body>
    <header>
        <div>
            <p>
                <img src="{{ url_for('static', filename='Captura_de_tela_2024-12-04_214850.png') }}" alt="Logo" > 
                <label><a href="/"><img src="https://upload.wikimedia.org/wikipedia/commons/e/e6/Home_icon_black.png" alt="Home" width="30" height="35" /></a></label>
            </p>
        </div>
    </header> 
    <hr class="new4">

    <p id="texto">
        As orientações a seguir têm como objetivo oferecer um suporte eficaz para ajudá-lo(a) a superar a procrastinação e a combater o sedentarismo, questões cada vez mais presentes na vida cotidiana de muitas pessoas.
    </p>

    <div class="container">
        <!-- Caixa para atividades físicas -->
        <div class="genre" id="atividade-fisica">
            <img src="https://img.freepik.com/fotos-gratis/homem-de-tiro-completo-correndo-la-fora_23-2149596339.jpg" alt="Capa do filme Carruagens de Fogo">
            <div>
                <h2>Atividades Físicas</h2>
                <p>Praticar esportes é essencial para manter um corpo saudável e melhorar a qualidade de vida. Acesse conteúdos sobre atividades físicas para começar hoje mesmo!</p>
                <label><a href="atividades/atividade_fisica" target="_self">Explore Educação Física</a></label>
            </div>
        </div>

        <!-- Caixa para matérias escolares -->
        <div class="genre" id="materias-escolares">
            <img src="https://img.freepik.com/fotos-gratis/jovem-escrevendo-em-um-caderno-durante-a-sessao-de-estudo_23-2149285403.jpg?ga=GA1.1.1056197807.1742263539&semt=ais_hybrid" alt="Capa do filme Julie & Julia">
            <div>
                <h2>Matérias Escolares</h2>
                <p>Aprender novos conteúdos e desenvolver habilidades é a chave para o sucesso acadêmico. Confira materiais sobre diferentes disciplinas escolares!</p>
                <label><a href="atividades/disciplinas" target="_self">Veja Matérias Escolares</a></label>
            </div>
        </div>
    </div>

    <hr class="new4">
    <footer>
        &copy; {{ano_atual}} Educação Digital. Todos os direitos reservados.
    </footer>
</body>
</html>
