<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyberconsciência-Não Olhe para Cima</title>
    <style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: black;
            color: white;
        }

        /* Banner */
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
        }

        /* Logo */
        .logo {
            position: absolute;
            top: 40px;
            left: 40px;
            width: 250px;
        }

        /* Conteúdo principal */
        .content {
            position: relative;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            max-width: 1200px;
            margin: 0 auto;
            margin-top:80px;
            
        }

        .text {
            max-width: 600px;
            margin-top: 180px; /* Espaço para posicionar a sinopse abaixo da logo */
        }

        .text h1 {
            font-size: 2.5em;
            color: #fff;
            margin-bottom: 20px;
        }

        .text p {
            font-size: 1.0Sem;
            line-height: 1.0;
        }

        .new {
            font-size: 1.0em;
            line-height: 1.0;
        }

        .characters {
            max-width: 400px;
            margin-top:60px;
        }

        .characters img {
            width: 100%;
            min-height: 500x;
            min-width: 300px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
        }

        .trailer {

            text-align: center;
            z-index: -1;
            position: absolute;
            width: 100%;
        }
        label {
            margin-top: 10px;
            font-size: 1em;
            display: inline-block;
            color: white;
            background-color: rgb(76, 173, 252);
            padding: 5px 10px;
            border-radius: 5px;
            text-decoration: none;
            transition: background 0.25s linear;
        }
        label:hover {
            background-color: rgb(168, 216, 255);
        }
        a { color: inherit; 
        text-decoration: none;} 
        a:hover { color: rgb(41, 146, 231); }

        /* Seção de sinopse e reflexão */
        .movie-extra {
            margin-top: 40px;
            padding: 20px;
            text-align: left;
        }   
    </style>
</head>
<body>
    <html>
        <label><a href="/"><img src="https://upload.wikimedia.org/wikipedia/commons/e/e6/Home_icon_black.png" alt="Home" width="30" height="30" /></a></label>

            <label><a href="/filmes" >Filmes </a></label>
                    <label>   <a href="https://youtu.be/c1nToClX_3w?si=86PCaQOtnfbqUUmZ">Trailer</a></label>
        
        <hr class="new4">
    <video loop autoplay muted class="trailer">
        <source src="{{url_for('static', filename='leonardo-dicaprio-jennifer-lawrence--official-trailer--netflix---dont-look-up.mp4')}}" type="video/mp4" >
    </video>
    <!-- Conteúdo principal -->
    <div class="content">
        <img src="{{url_for('static', filename='image_cropped-removebg-preview.png')}}" alt="Logo do Filme" class="logo">
        <div class="text">
            <h1>Não Olhe Para Cima</h1>
            <h4>
                Dirigido por Adam McKay, Não Olhe para Cima (Don't Look Up) é uma sátira sobre a sociedade contemporânea. No filme, dois astrônomos, Dr. Randall Mindy (Leonardo DiCaprio) e Kate Dibiasky (Jennifer Lawrence), descobrem que um cometa gigantesco está em rota de colisão com a Terra, e a extinção da humanidade é iminente. No entanto, ao tentarem alertar o mundo, eles enfrentam o desinteresse das autoridades e da mídia, além da apatia da população. Em vez de levarem a sério a ameaça, os líderes políticos e a mídia tratam o desastre iminente como uma oportunidade de marketing, e a população se divide entre aqueles que acreditam nos cientistas e aqueles que optam por ignorar o perigo.
            </h4>
            <strong>Gênero:</strong>Comédia, Drama, Satírico
           <p> <strong>Data de Lançamento:</strong>24 de dezembro de 2021</p>
            <strong>Diretores:</strong>Adam McKay
        
        </div>
        <div class="characters">
            <img src="https://br.web.img2.acsta.net/pictures/21/12/06/21/17/3973076.jpg" alt="Pôster">
        </div>
    </div>
     <!-- Seção extra com sinopse e reflexão -->
     <section class="movie-extra">
        <h2>Proposta de Reflexão</h2>
        <p>O filme critica a forma como a sociedade atual, impulsionada pelas redes sociais e pela cultura do entretenimento superficial, desvaloriza a ciência e os fatos em favor de narrativas fáceis e sensacionalistas. As redes sociais, representadas no filme, destacam a distração das massas, que preferem seguir tendências virais e memes ao invés de lidar com a dura realidade de uma catástrofe global. Assim como ocorre na vida real, o fluxo constante de desinformação, teorias da conspiração e a busca por likes e cliques contribui para a alienação das pessoas. A tecnologia, que deveria informar e conectar, acaba gerando desinteresse, apatia e divisão. O filme exemplifica como a dependência das redes sociais para entretenimento e validação pessoal pode levar à "idiotização" coletiva, onde assuntos sérios são transformados em piadas e pessoas se tornam incapazes de agir racionalmente diante de crises reais.</p>
    
      </section>
</body>
</html>

