<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Objetivo do Projeto | Cyberconsciência</title>
    <link rel="stylesheet" href="styles.css">
</head>
<style>
    /* Estilos gerais */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000; /* Fundo preto */
    color: #fff; /* Texto branco */
}

h1, h2, h3 {
    color: rgb(76, 173, 252); /* Azul claro */
}

/* Estilo do cabeçalho */
header {
    background-color: #000;
    padding: 20px 0;
    border-bottom: 2px solid rgb(76, 173, 252);
}

header .logo h1 {
    margin: 0;
    color: rgb(76, 173, 252);
    text-align: center;
    font-size: 2.5em;
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-start; /* Alinhamento à esquerda */
    gap: 20px;
    margin-top: 10px;
    margin-left: 20px; /* Adicione um pequeno espaçamento da borda esquerda */
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    padding: 5px 10px;
}

header nav ul li a:hover {
    background-color: rgb(76, 173, 252);
    color: #000;
    border-radius: 5px;
}

/* Estilos do conteúdo principal */
main {
    padding: 40px;
    max-width: 900px;
    margin: 0 auto;
    text-align: justify;
}

.objetivo-do-projeto h2, .agradecimento h2 {
    font-size: 2em;
    border-bottom: 2px solid rgb(76, 173, 252);
    padding-bottom: 10px;
}

.objetivo-do-projeto p, .agradecimento p {
    line-height: 1.6;
    margin-top: 10px;
}

.passagem-biblica {
    font-style: italic;
    color: rgb(76, 173, 252);
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
}

/* Estilo do rodapé */
footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    border-top: 2px solid rgb(76, 173, 252);
    margin-top: 40px;
}

footer p {
    margin: 0;
}
label {
            margin-top: 10px;
            font-size: 1em;
            display: inline-block;
            color: white;
            background-color: rgb(76, 173, 252);
            padding: 5px 10px;
            border-radius: 5px;
            text-decoration: none;
            transition: background 0.25s linear;
        }
        a:hover { color: rgb(41, 146, 231); }
        label:hover {
            background-color: rgb(168, 216, 255);
        }
</style>
<body>
    <header>
        <div class="logo">
            <h1>Objetivo do Projeto</h1>
            <p>
                <html>
                    <label><a href="/"><img src="https://upload.wikimedia.org/wikipedia/commons/e/e6/Home_icon_black.png" alt="Home" width="30" height="30" /></a></label>
                </html>
            </p>
    </div>
    </header>

    <main>
        <section class="objetivo-do-projeto">
            <h2>Objetivo do Projeto</h2>
            <p>
                O projeto <strong>Cyberconsciência</strong> tem como objetivo principal conscientizar as pessoas sobre o uso inadequado e excessivo das redes sociais. Com o crescimento das tecnologias digitais, o tempo gasto nas redes aumentou de forma alarmante, o que pode prejudicar tanto a saúde mental quanto a produtividade pessoal. O nosso propósito é ajudar os usuários a utilizarem as plataformas digitais de maneira mais consciente, equilibrando o tempo online com as demais atividades da vida cotidiana.
            </p>
            <p>
                Além disso, buscamos incentivar práticas saudáveis no uso das redes, evitando que elas se tornem uma fonte de distração ou procrastinação. Queremos promover a segurança digital, alertando sobre os perigos do compartilhamento inadequado de informações e incentivando o uso seguro e responsável dessas plataformas.
            </p>
            <p>
                O <strong>Cyberconsciência</strong> é mais do que um projeto educacional; é um movimento para criar uma comunidade digital mais consciente, onde as pessoas possam desfrutar dos benefícios da internet sem se tornarem reféns de seu uso excessivo.
            </p>
        </section>

        <section class="agradecimento">
            <h2>Agradecimento Especial</h2>
            <p>
                Agradecemos a Deus por nos conceder sabedoria, força e a oportunidade de realizar este projeto. Que este trabalho sirva para o bem das pessoas e traga mais equilíbrio às suas vidas digitais.
            </p>
            <p class="passagem-biblica">
                <em>"O temor do Senhor é o princípio da sabedoria, e o conhecimento do Santo é entendimento." – Provérbios 9:10</em>
            </p>
        </section>
    </main>

    <footer>
        <p>&copy; {{ano_atual}} Cyberconsciência. Todos os direitos reservados.</p>
    </footer>
</body>
</html>