<!DOCTYPE html>
        <html lang="pt-BR">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Cyberconsciência-O Dilema das Redes</title>
            <style>
                /* Estilos gerais */
                body {
                    margin: 0;
                    font-family: Arial, sans-serif;
                    background-color: black;
                    color: white;
                }
        
                /* Banner */
                .overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.5);
                }
        
                /* Logo */
                .logo {
                    position: absolute;
                    top: 40px;
                    left: 40px;
                    width: 250px;
                }
        
                /* Conteúdo principal */
                .content {
                    position: relative;
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    max-width: 1200px;
                    margin: 0 auto;
                    margin-top:80px;
                    
                }
        
                .text {
                    max-width: 600px;
                    margin-top: 180px; /* Espaço para posicionar a sinopse abaixo da logo */
                }
        
                .text h1 {
                    font-size: 2.5em;
                    color: #fff;
                    margin-bottom: 20px;
                }
        
                .text p {
                    font-size: 1.0Sem;
                    line-height: 1.0;
                }
        
                .new {
                    font-size: 1.0em;
                    line-height: 1.0;
                }
        
                .characters {
                    max-width: 400px;
                    margin-top:60px;
                }
        
                .characters img {
                    width: 100%;
                    min-height: 500x;
                    min-width: 300px;
                    border-radius: 10px;
                    box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
                }
        
                .trailer {
        
                    text-align: center;
                    z-index: -1;
                    position: absolute;
                    width: 100%;
                }
                label {
                    margin-top: 10px;
                    font-size: 1em;
                    display: inline-block;
                    color: white;
                    background-color: rgb(76, 173, 252);
                    padding: 5px 10px;
                    border-radius: 5px;
                    text-decoration: none;
                    transition: background 0.25s linear;
                }
                label:hover {
                    background-color: rgb(168, 216, 255);
                }
                a { color: inherit; 
                text-decoration: none;} 
                a:hover { color: rgb(41, 146, 231); }
        
                /* Seção de sinopse e reflexão */
                .movie-extra {
                    margin-top: 40px;
                    padding: 20px;
                    text-align: left;
                }   
            </style>
        </head>
        <body>
            <html>
                <label><a href="/"><img src="https://upload.wikimedia.org/wikipedia/commons/e/e6/Home_icon_black.png" alt="Home" width="30" height="30" /></a></label>
        
                    <label><a href="/filmes" >Filmes </a></label>
                            <label>   <a href="https://youtu.be/uaaC57tcci0?si=Mo7eQ0-gX8HkBbqE">Trailer</a></label>
                
                <hr class="new4">
            <video loop autoplay muted class="trailer">
                <source src="{{url_for('static', filename='official-trailer--netflix---the-social-dilemma.mp4')}}" type="video/mp4" >
            </video>
            <!-- Conteúdo principal -->
            <div class="content">
                <img src="{{url_for('static', filename='Captura_de_tela_2025-01-26_093049-removebg-preview.png')}}" alt="Logo do Filme" class="logo">
                <div class="text">
                    <h1>O Dilema das Redes</h1>
                    <h4>
                        O documentário expõe os bastidores das grandes empresas de tecnologia, como Facebook, Google e Twitter, para revelar como as redes sociais foram projetadas para manipular o comportamento humano. Ex-funcionários e especialistas em tecnologia explicam como os algoritmos priorizam engajamento a qualquer custo, alimentando o vício, a desinformação e a polarização social. A obra também destaca os impactos psicológicos, como ansiedade e depressão, principalmente entre os jovens, além de levantar questões éticas sobre o futuro da sociedade em um mundo dominado por algoritmos.
                    </h4>
                    <strong>Gênero:</strong>Documentário, Tecnologia, Sociedade
                   <p> <strong>Data de Lançamento:</strong>9 de setembro de 2020</p>
                    <strong>Diretores:</strong>Jeff Orlowski
                
                </div>
                <div class="characters">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7ukBk3clYl5BqsA7Fx73S1Z7veTxiY7YBcQ&s" alt="Pôster">
                </div>
            </div>
             <!-- Seção extra com sinopse e reflexão -->
             <section class="movie-extra">
                <h2>Proposta de Reflexão</h2>
                <p>O documentário provoca uma análise crítica do papel das redes sociais na sociedade contemporânea. Ele destaca que as plataformas digitais, longe de serem ferramentas neutras, foram projetadas para maximizar o lucro das empresas por meio da exploração do tempo e da atenção dos usuários. Isso cria um ciclo de dependência e manipulação, no qual:</p>

                <p><strong>Efeitos Individuais:</strong><br>  
                Os usuários são constantemente influenciados a permanecer conectados, o que resulta em problemas como dependência digital, baixa autoestima (em função da comparação social) e aumento de transtornos mentais, especialmente entre os jovens.</p>
                
                <p><strong>Impactos Sociais:</strong><br>  
                A polarização política e a disseminação de fake news são amplificadas pelas redes, que priorizam conteúdos sensacionalistas e polarizadores, pois esses geram maior engajamento. Isso ameaça a coesão social e dificulta a resolução de problemas globais urgentes.</p>
                
                <p><strong>Dilema Ético:</strong><br>  
                Ao colocar os interesses comerciais acima do bem-estar humano, as redes sociais levantam questões sobre o limite ético do uso da tecnologia. A obra nos convida a repensar nossa relação com as plataformas digitais e a buscar regulamentações que priorizem o bem coletivo.</p>
                
                <p><strong>Mensagem Central:</strong><br>  
                "O Dilema das Redes" não é apenas uma crítica às empresas de tecnologia, mas um chamado à consciência e à ação. Ele nos lembra que, embora a tecnologia tenha potencial para conectar e informar, seu uso irresponsável pode aprofundar divisões e prejudicar o desenvolvimento humano. A solução começa com a educação digital, a conscientização coletiva e a regulamentação governamental para conter os excessos das corporações tecnológicas.</p>
                
            </section>
    </body>
</html>
        
        
