
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyberconsciência-O Mundo Depois de Nós</title>
    <style>
        /* Estilos gerais */
        body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: black;
            color: white;
        }

        /* Banner */
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
        }

        /* Logo */
        .logo {
            position: absolute;
            top: 40px;
            left: 40px;
            width: 250px;
        }

        /* Conteúdo principal */
        .content {
            position: relative;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            max-width: 1200px;
            margin: 0 auto;
            margin-top:80px;
            
        }

        .text {
            max-width: 600px;
            margin-top: 180px; /* Espaço para posicionar a sinopse abaixo da logo */
        }

        .text h1 {
            font-size: 2.5em;
            color: #fff;
            margin-bottom: 20px;
        }

        .text p {
            font-size: 1.0Sem;
            line-height: 1.0;
        }

        .new {
            font-size: 1.0em;
            line-height: 1.0;
        }

        .characters {
            max-width: 400px;
            margin-top:60px;
        }

        .characters img {
            width: 50%;
            min-height: 500x;
            min-width: 300px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
        }

        .trailer {

            text-align: center;
            z-index: -1;
            position: absolute;
            width: 100%;
        }
        label {
            margin-top: 10px;
            font-size: 1em;
            display: inline-block;
            color: white;
            background-color: rgb(76, 173, 252);
            padding: 5px 10px;
            border-radius: 5px;
            text-decoration: none;
            transition: background 0.25s linear;
        }
        label:hover {
            background-color: rgb(168, 216, 255);
        }
        a { color: inherit; 
        text-decoration: none;} 
        a:hover { color: rgb(41, 146, 231); }

        /* Seção de sinopse e reflexão */
        .movie-extra {
            margin-top: 40px;
            padding: 20px;
            text-align: left;
        }   
    </style>
</head>
<body>
    <html>
        <label><a href="/"><img src="https://upload.wikimedia.org/wikipedia/commons/e/e6/Home_icon_black.png" alt="Home" width="30" height="30" /></a></label>

            <label><a href="/filmes" >Filmes </a></label>
                    <label>   <a href="https://youtu.be/X6UBHGb0OA0?si=OFfUVyxLQ_JSR6kE">Trailer</a></label>
        
        <hr class="new4">
    <video loop autoplay muted class="trailer">
        <source src="{{url_for('static', filename='trailer-oficial--netflix---o-mundo-depois-de-nós.mp4')}}" type="video/mp4" >
    </video>
    <!-- Conteúdo principal -->
    <div class="content">
        <img src="{{url_for('static', filename='Captura_de_tela_2025-01-26_092555-removebg-preview__1_.png')}}" alt="Logo do Filme" class="logo">
        <div class="text">
            <h1>O Mundo Depois de Nós</h1>
            <h4>Em O Mundo Depois de Nós, o casal Amanda (Julia Roberts) e Clay (Ethan Hawke) e seus filhos vão passar o final de semana em uma mansão de luxo. Tudo vai bem até que um apagão traz dois desconhecidos com notícias de um grande ataque cibernético transformam o feriado em um inferno. G.H. (Mahershala Ali) e Ruth (Myha'la) chegam à casa desesperados por abrigo, alegando que a casa é deles e precisam entrar para se protegerem da grande ameaça invisível que arrisca a vida de todos. Agora, as duas famílias precisam se unir para se salvarem do desastre que se aproxima e, a cada momento, fica mais assustador e perigoso. O Mundo Depois de Nós é baseado no livro "Leave The World Behind", do autor Rumaan Alam.
            </h4>
            <strong>Gênero:</strong>Thriller apocalíptico
           <p> <strong>Data de Lançamento:</strong>8 de dezembro de 2023</p>
            <strong>Diretores:</strong>Sam Esmail
        
        </div>
        <div class="characters">
            <img src="https://i0.wp.com/vertentesdocinema.com/wp-content/uploads/2023/12/qwhzinq0mba1dxhv66exccuzbf5.jpg?fit=667%2C1000&ssl=1" alt="Pôster">
        </div>
    </div>
     <!-- Seção extra com sinopse e reflexão -->
     <section class="movie-extra">
        <h2>Proposta de Reflexão</h2>
        <p>O documentário nos leva a refletir sobre como o tempo que passamos imersos no mundo virtual – frequentemente em discussões superficiais, teorias conspiratórias e busca incessante por validação – nos afasta de problemas globais urgentes, como a destruição ambiental. Se a humanidade continuar priorizando o entretenimento e a distração, deixando de lado a responsabilidade ambiental, a Terra pode eventualmente "sobreviver" sem nós, regenerando-se após o nosso desaparecimento. O filme serve como um lembrete de que, enquanto nos distraímos, a natureza segue seus ciclos, e as consequências da nossa negligência podem ser irreversíveis.</p>
        
      </section>
</body>
</html>


