<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rotina e Disputa - Cyberconsciência</title>
    <style>
         a { color: inherit;
        text-decoration: none; } 
    a:hover{ color:rgb(168, 216, 255)}

    label {
            margin-top: 10px;
            font-size: 1em;
            display: inline-block;
            color: white;
            background-color: rgb(76, 173, 252);
            padding: 5px 10px;
            border-radius: 5px;
            text-decoration: none;
            transition: background 0.25s linear;
        }
    label:hover {
            background-color: rgb(168, 216, 255);
        }
         header {
            background-color: black;
                    color: blue;
                    padding: 30px 0;
                    position: sticky;
                    top: 0;
                    width: 100%;
                    z-index: 1000;
        }

        .container-header {
            display: flex;
                    justify-content: space-between;
                    align-items: center;
                    max-width: 1200px;
                    margin: 0 auto;
                    padding: 0 20px;
                }
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            background-color: #f0f0f0;
        }
        h1 {
            text-align: center;
            color:rgb(76, 173, 252);
        }
        #usuario-form {
            margin-bottom: 20px;
        }
        #rotina-form {
            margin-bottom: 20px;
        }
        #tarefas-lista {
            list-style: none;
            padding: 0;
        }
        .tarefa-item {
            background-color: #fff;
            margin: 10px 0;
            padding: 15px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .tarefa-item input {
            margin-right: 10px;
        }
        .pontuacao {
            font-size: 20px;
            text-align: center;
            margin-top: 20px;
        }
        #placar {
            margin-top: 30px;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .usuario {
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;
        }
    </style>
</head>
<header>
    <div>
        <h1 >
            <img src="{{ url_for('static', filename='Captura_de_tela_2024-12-04_215900.png') }}"> 
        </h1>
    <html>
        <label><a href="/"><img src="https://upload.wikimedia.org/wikipedia/commons/e/e6/Home_icon_black.png" alt="Home" width="30" height="30" /></a></label>
    </html>
</div>
</header> 
<body>
    <!-- Formulário de Cadastro de Usuário -->
    <form id="usuario-form">
        <input type="text" id="nome-usuario" placeholder="Digite seu nome" required>
        <button type="submit">Cadastrar Usuário</button>
    </form>

    <!-- Formulário para adicionar tarefas -->
    <form id="rotina-form" style="display: none;">
        <input type="text" id="nova-tarefa" placeholder="Digite uma nova tarefa" required>
        <button type="submit">Adicionar Tarefa</button>
    </form>

    <!-- Lista de tarefas -->
    <ul id="tarefas-lista"></ul>

    <!-- Exibir pontuação individual -->
    <div class="pontuacao">
        Pontuação: <span id="pontos">0</span>
    </div>

    <!-- Placar de Pontuação -->
    <div id="placar">
        <h2>Placar de Competição</h2>
        <div id="lista-usuarios"></div>
    </div>

    <script>
        // Elementos do DOM
        const usuarioForm = document.getElementById('usuario-form');
        const nomeUsuarioInput = document.getElementById('nome-usuario');
        const rotinaForm = document.getElementById('rotina-form');
        const novaTarefaInput = document.getElementById('nova-tarefa');
        const tarefasLista = document.getElementById('tarefas-lista');
        const pontosDisplay = document.getElementById('pontos');
        const placar = document.getElementById('lista-usuarios');

        // Variáveis globais
        let pontos = 0;
        let usuarios = [];

        // Adicionar novo usuário
        usuarioForm.addEventListener('submit', function (event) {
            event.preventDefault();
            const nomeUsuario = nomeUsuarioInput.value;

            if (nomeUsuario && !usuarios.some(user => user.nome === nomeUsuario)) {
                const usuario = { nome: nomeUsuario, pontos: 0 };
                usuarios.push(usuario);
                atualizarPlacar();
                rotinaForm.style.display = 'block';
                nomeUsuarioInput.value = '';
                pontos = 0;
                pontosDisplay.textContent = pontos;
                tarefasLista.innerHTML = '';
            }
        });

        // Adicionar nova tarefa à rotina
        rotinaForm.addEventListener('submit', function (event) {
            event.preventDefault();
            const novaTarefa = novaTarefaInput.value;

            if (novaTarefa) {
                const tarefaItem = document.createElement('li');
                tarefaItem.classList.add('tarefa-item');

                const checkbox = document.createElement('input');
                checkbox.type = 'checkbox';

                const tarefaTexto = document.createElement('span');
                tarefaTexto.textContent = novaTarefa;

                checkbox.addEventListener('change', function () {
                    if (checkbox.checked) {
                        pontos += 1;
                    } else {
                        pontos -= 1;
                    }
                    pontosDisplay.textContent = pontos;
                    atualizarPlacar();
                });

                tarefaItem.appendChild(checkbox);
                tarefaItem.appendChild(tarefaTexto);
                tarefasLista.appendChild(tarefaItem);

                novaTarefaInput.value = '';
            }
        });

        // Atualizar placar com pontuação dos usuários
        function atualizarPlacar() {
            placar.innerHTML = '';

            usuarios.forEach(usuario => {
                if (usuario.nome === nomeUsuarioInput.value) {
                    usuario.pontos = pontos;
                }

                const usuarioDiv = document.createElement('div');
                usuarioDiv.classList.add('usuario');

                const nomeDiv = document.createElement('span');
                nomeDiv.textContent = usuario.nome;

                const pontosDiv = document.createElement('span');
                pontosDiv.textContent = `${usuario.pontos} pontos`;

                usuarioDiv.appendChild(nomeDiv);
                usuarioDiv.appendChild(pontosDiv);

                placar.appendChild(usuarioDiv);
            });

            // Ordena os usuários com base nos pontos
            usuarios.sort((a, b) => b.pontos - a.pontos);
        }
    </script>

</body>
</html>
