<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Segurança Digital - Ciberconsciência</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f8ff;
            color: #000;
            text-align: justify;
        }
        header {
            background-color: #000;
            color: white;
            text-align: center;
            padding: 20px;
        }
        .banner {
            width: 100%;
            height: 100%;  
            background-color: #333; 
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden; 
        }
        .banner img {
            min-width: 100%; 
            min-height: 100%; 
            object-fit: cover; 
        }
        .container {
            width: 80%;
            margin: auto;
            padding: 20px;
        }
        h1 {
            color: #6bb0f4;
        }
         h2 {
            color: #003366;
        }
        .section {
            background: #e0efff;
            padding: 15px;
            margin-bottom: 20px;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        }
        footer {
            background-color: #000;
            color: white;
            text-align: center;
            padding: 10px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <header>
        <h1>Segurança Digital & Cyberconsciência</h1>
    </header>
    <div class="banner">
        <img src="{{url_for('static', filename='Banner_seg.digital.gif')}}" alt="Segurança digital">
    </div>
    <div class="container">
        <div class="section">
            <h2>O que é Segurança Digital?</h2>
            <p>Segurança digital é um conjunto de práticas e ferramentas utilizadas para proteger dados, dispositivos e redes contra ameaças cibernéticas. Ela envolve a adoção de boas práticas de privacidade, a atualização constante de softwares e o uso de soluções como antivírus e firewalls.</p>
        </div>
        <div class="section">
            <h2>Principais Ameaças Cibernéticas</h2>
            <p>A segurança digital enfrenta diversas ameaças. O phishing, por exemplo, consiste em tentativas de enganar usuários para obter informações sensíveis. Já o ransomware é um tipo de malware que sequestra arquivos e exige um resgate para sua liberação. Além disso, vazamentos de dados e a engenharia social são riscos constantes que exigem vigilância.</p>
        </div>
        <div class="section">
            <h2>Dicas de Proteção</h2>
            <p>Manter-se seguro online requer a adoção de medidas preventivas. Criar senhas fortes e únicas para cada serviço, ativar a autenticação em dois fatores e evitar clicar em links suspeitos são atitudes essenciais. Além disso, é fundamental manter o sistema operacional e os aplicativos sempre atualizados para corrigir vulnerabilidades.</p>
        </div>
        <div class="section">
            <h2>Importância da Ciberconsciência</h2>
            <p>Ciberconsciência é o conhecimento e a conscientização sobre os riscos digitais. Saber identificar ameaças, entender os impactos de uma violação de dados e agir de maneira responsável na internet são aspectos fundamentais para garantir a segurança pessoal e corporativa.</p>
        </div>
        <div class="section">
            <h2>Como Denunciar Crimes Cibernéticos?</h2>
            <p>Casos de crimes cibernéticos devem ser reportados às autoridades competentes. No Brasil, a Polícia Federal e as delegacias especializadas em crimes digitais podem auxiliar vítimas de golpes, invasões e vazamento de informações. Além disso, é possível denunciar tentativas de fraude a bancos e empresas de tecnologia.</p>
        </div>
        <div class="section">
            <h2>Boas Práticas no Ambiente Digital</h2>
            <p>Além de proteger seus dados, é essencial educar outras pessoas sobre os riscos cibernéticos. Ensinar crianças e idosos a evitar golpes, utilizar senhas seguras e reconhecer sites falsos pode ajudar a criar um ambiente digital mais seguro para todos.</p>
        </div>
        <div class="section">
            <h2>O Futuro da Segurança Digital</h2>
            <p>O avanço da tecnologia traz novos desafios para a segurança digital. Ferramentas como inteligência artificial e blockchain são cada vez mais utilizadas para fortalecer a proteção de dados. No entanto, cibercriminosos também evoluem, exigindo que usuários e empresas estejam sempre atentos às novas ameaças.</p>
        </div>
        <div class="section">
            <h2>Cuidado com os Golpes Virtuais</h2>
            <p>Com o avanço da tecnologia e o aumento do uso da internet, especialmente após a pandemia, muitas pessoas mais velhas passaram a explorar o mundo digital. Seja para manter contato com familiares, realizar transações bancárias ou fazer compras online, o universo virtual oferece inúmeras facilidades. No entanto, essa inclusão digital também trouxe novos desafios, entre eles, o crescimento preocupante de golpes virtuais direcionados a essa faixa etária.</p>

<p>Os criminosos cibernéticos têm explorado a inexperiência de alguns idosos com a tecnologia, utilizando estratégias sofisticadas e emocionais para enganá-los. Entre os golpes mais comuns estão:</p>

<ul>
  <li><strong>Falsos contatos de familiares:</strong> Golpistas se passam por filhos ou netos em mensagens de WhatsApp, alegando emergências financeiras para pedir transferências bancárias.</li>
  <li><strong>Ofertas irresistíveis:</strong> Promoções falsas de produtos ou serviços que exigem pagamentos antecipados.</li>
  <li><strong>Golpes bancários:</strong> Ligações ou mensagens que fingem ser de bancos, solicitando dados pessoais e senhas.</li>
  <li><strong>Phishing:</strong> E-mails ou mensagens que imitam empresas legítimas para roubar informações confidenciais, como CPF e senhas.</li>
  <li><strong>Golpes de investimentos:</strong> Promessas de lucros altos e rápidos em "oportunidades imperdíveis", como criptomoedas ou negócios fictícios.</li>
</ul>

<p><strong>Como se Proteger</strong></p>
<p>Se você ou um parente mais velho usa a internet com frequência, siga essas dicas para evitar cair em armadilhas virtuais:</p>

<ul>
  <li><strong>Desconfie de pedidos urgentes:</strong> Se alguém pedir dinheiro ou informações confidenciais, confirme diretamente com a pessoa, ligando para ela.</li>
  <li><strong>Verifique links antes de clicar:</strong> Passe o mouse sobre o link (ou toque e segure em smartphones) para verificar o endereço real. Links estranhos ou encurtados podem levar a sites falsos.</li>
  <li><strong>Nunca compartilhe senhas:</strong> Nem bancos, nem empresas confiáveis pedem senhas ou códigos de segurança por telefone ou mensagem.</li>
  <li><strong>Atualize sistemas e aplicativos:</strong> Mantenha o antivírus ativo e os dispositivos atualizados para corrigir vulnerabilidades.</li>
  <li><strong>Evite contatos desconhecidos:</strong> Não atenda chamadas de números suspeitos e nunca clique em links enviados por desconhecidos.</li>
</ul>

<p><strong>Converse com os Mais Jovens</strong></p>
<p>Se você tiver dúvidas, não hesite em pedir ajuda a um familiar mais jovem ou amigo que entenda de tecnologia. Muitas vezes, golpes podem ser evitados com uma simples verificação.</p>

<p>Lembre-se: golpistas se aproveitam da boa vontade e da generosidade das pessoas mais velhas. Esteja atento, compartilhe essas informações com outros e, acima de tudo, desconfie de ofertas boas demais para serem verdade. Segurança na internet é algo que todos podemos aprender — juntos!</p>

        </div>
    </div>
    <footer>
        <p>&copy; {{ano_atual}} Cyberconsciência - Todos os direitos reservados.</p>
    </footer>
</body>
</html>
