<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serviços | Cyberconsciência</title>
    <link rel="stylesheet" href="styles.css">
</head>
<style>
    /* Estilos gerais */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000; /* Fundo preto */
    color: #fff; /* Texto branco */
}

h1, h2, h3 {
    color: rgb(76, 173, 252); /* Azul claro */
}

/* Estilo do cabeçalho */
header {
    background-color: #000;
    padding: 20px 0;
    border-bottom: 2px solid rgb(76, 173, 252);
}

header .logo h1 {
    margin: 0;
    color: rgb(76, 173, 252);
    text-align: center;
    font-size: 2.5em;
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-start; /* Alinhamento à esquerda */
    gap: 20px;
    margin-top: 10px;
    margin-left: 20px; /* Adicione um pequeno espaçamento da borda esquerda */
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    padding: 5px 10px;
}

header nav ul li a:hover {
    background-color: rgb(76, 173, 252);
    color: #000;
    border-radius: 5px;
}

/* Estilos do conteúdo principal */
main {
    padding: 40px;
    max-width: 900px;
    margin: 0 auto;
    text-align: justify;
}

.servicos h2 {
    font-size: 2em;
    border-bottom: 2px solid rgb(76, 173, 252);
    padding-bottom: 10px;
}

.servicos article {
    margin-top: 20px;
}

.servicos h3 {
    font-size: 1.5em;
}

/* Estilo do rodapé */
footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    border-top: 2px solid rgb(76, 173, 252);
    margin-top: 40px;
}

footer p {
    margin: 0;
}
label {
            margin-top: 10px;
            font-size: 1em;
            display: inline-block;
            color: white;
            background-color: rgb(76, 173, 252);
            padding: 5px 10px;
            border-radius: 5px;
            text-decoration: none;
            transition: background 0.25s linear;
        }
        a:hover { color: rgb(41, 146, 231); }
        label:hover {
            background-color: rgb(168, 216, 255);
        }
</style>
<body>
    <header>
        <div class="logo">
            <h1>Serviços</h1>
            <p>
                <html>
                    <label><a href="/"><img src="https://upload.wikimedia.org/wikipedia/commons/e/e6/Home_icon_black.png" alt="Home" width="30" height="30" /></a></label>
                </html>
            </p>
    </div>
    </header>

    <main>
        <section class="servicos">
            <h2>Nossos Serviços</h2>
            <article>
                <h3>Consultoria em Segurança Digital</h3>
                <p>
                    Oferecemos consultoria personalizada para proteger sua privacidade online, com dicas sobre como evitar fraudes e manter suas informações seguras.
                </p>
            </article>
            <article>
                <h3>Workshops de Conscientização</h3>
                <p>
                    Realizamos workshops interativos que ajudam os participantes a entender os riscos das redes sociais e a desenvolver hábitos digitais saudáveis.
                </p>
            </article>
            <article>
                <h3>Guias e Recursos Online</h3>
                <p>
                    Disponibilizamos uma variedade de guias, artigos e recursos online para ajudá-lo a navegar na internet de forma segura e consciente.
                </p>
            </article>
            <article>
                <h3>Suporte Psicológico</h3>
                <p>
                    Oferecemos apoio psicológico para aqueles que lutam contra a dependência de redes sociais e procrastinação, com profissionais qualificados.
                </p>
            </article>
        </section>
    </main>

    <footer>
        <p>&copy; {{ano_atual}} Cyberconsciência. Todos os direitos reservados.</p>
    </footer>
</body>
</html>